<div style="height: 100vh">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="leftNavContainer">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxShow="true"
          fxHide.gt-sm
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span><a routerLink="" mat-button>Stop Shop</a></span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a routerLink="groceries" mat-button>Groceries Catalog</a>
        </div>
      </div>

      <div fxShow="true" class="cartIconContainer">
        <mat-icon routerLink="checkout" matBadge="5" matBadgeColor="warn"
          >add_shopping_cart</mat-icon
        >
        <div fxShow="true" fxHide.lt-md>
          <a routerLink="contact" mat-button>Contact Us</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a routerLink="groceries" mat-button>Groceries Catalog</a>
        <a routerLink="checkout" mat-button>Shopping List</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
