/* Subscribe Style */
.subscribe-form {
  background-color: #3f51b5;
  padding: 40px 0px;
  margin: 20px auto;
  text-align: center;
}
.subscribe-form .section-heading {
  margin-top: 0px;
}
.subscribe-form .section-heading h1 {
  color: #fff;
}
.subscribe-form .section-heading .line-dec {
  background-color: #fff;
  margin: 0 auto;
}
.subscribe-form .main-content p {
  font-size: 17px;
  color: #fff;
  margin: 20px auto;
  max-width: 50%;
  font-weight: 300;
  font-style: oblique;
  line-height: 26px;
  letter-spacing: 1px;
}
.subscribe-form .main-content form {
  color: #fff;
  display: inline;
}
.subscribe-form .main-content form input {
  display: inline;
  margin: 20px auto;
}
.subscribe-form .main-content form input {
  width: 100%;
  height: 46px;
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 15px;
  color: #fff;
  outline: none;
}
.subscribe-form .main-content form button:focus {
  color: #fff !important;
}

.subscribe-form .main-content form button {
  width: 100%;
  height: 45px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  color: #3a8bcd;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-decoration: none;
  transition: all 0.5s;
  box-shadow: none;
  border: none;
}

.footer {
  text-align: center;
  color: rgb(0, 0, 0);
}

.container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-heading {
  font-weight: 700;
  display: flex;
  justify-content: center;
}
/* Footer Style */
.footer {
  text-align: center;
}
.footer ul {
  padding: 0px;
  margin: 0px;
}
.footer ul li {
  list-style: none;
  display: inline-block;
}
.footer .logo img {
  max-width: 32%;
  margin-top: 60px;
  margin-bottom: 40px;
  background-color: transparent;
}
.footer .footer-menu {
  margin-bottom: 40px;
}
.footer .footer-menu ul li {
  margin: 0px 15px;
}
.footer .footer-menu a {
  font-size: 15px;

  text-transform: uppercase;
  transition: all 0.5s;
}
.footer .footer-menu a:hover {
  color: #3a8bcd;
  text-decoration: none;
}
.footer .social-icons {
  margin-bottom: 60px;
}
.footer .social-icons ul li {
  margin: 0px 10px;
}
.footer .social-icons a {
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #aaa;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  border-radius: 50%;
  font-size: 13px;
  transition: all 0.5s;
}
.footer .social-icons a:hover {
  background-color: #3a8bcd;
}

/* Sub Footer Style */
.sub-footer {
  border-top: 1px solid #eee;
  text-align: center;
}
.sub-footer p {
  font-size: 16px;
  color: #2e2a2a;
  line-height: 60px;
}
.sub-footer a {
  color: #3a8bcd;
  text-decoration: none;
}

.social > a img {
  width: 32px;
  height: 32px;
}

.socal-icons-row {
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .subscribe-form .main-content p {
    max-width: 80%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 600px;
  }
}
