<div class="subscribe-form">
  <div class="container">
    <div class="section-heading">
      <div class="line-dec"></div>
      <h1>Subscribe on Shop Stop now!</h1>
    </div>
  </div>

  <div class="main-content">
    <p>
      Learn how Our new packaging for frozen and chilled foods is curbside
      recyclable and is helping Fresh and Whole Foods Market customers reduce
      waste.
    </p>
    <div class="container">
      <form id="subscribe" action="" method="get">
        <input
          name="email"
          type="text"
          class="form-control"
          id="email"
          onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
          onBlur="if(this.value == '') { this.value = 'Your Email...';}"
          value="Your Email..."
          required=""
        />

        <button type="submit" id="form-submit" class="button">
          Subscribe Now!
        </button>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="logo">
      <img src="../../assets/logo.png/" />
    </div>

    <div class="footer-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">How It Works ?</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <mat-toolbar class="socal-icons-row" layout="fill">
      <span class="fill-space"></span>
      <a href="#" target="_blank">
        <img
          src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png"
          alt=""
          matTooltip="StackOverflow"
          matTooltipPosition="above"
        />
      </a>
      <a href="#" target="_blank">
        <img
          src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png"
          alt=""
          matTooltip="Twitter"
          matTooltipPosition="above"
        />
      </a>
      <a href="#" target="_blank">
        <img
          src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png"
          alt=""
          matTooltip="Github"
          matTooltipPosition="above"
        />
      </a>
      <a href="#" target="_blank">
        <img
          src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png"
          alt=""
          matTooltip="Facebook"
          matTooltipPosition="above"
        />
      </a>
      <a href="#" target="_blank">
        <img
          src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
          alt=""
          matTooltip="Google+"
          matTooltipPosition="above"
        />
      </a>
      <a href="#" target="_blank">
        <img
          src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png"
          alt=""
          matTooltip="LinkedIn"
          matTooltipPosition="above"
        />
      </a>
      <span class="fill-space"></span>
    </mat-toolbar>
  </div>
</div>

<div class="sub-footer">
  <div class="container">
    <div class="copyright-text">
      <p>
        Copyright &copy; 2021 iPlex - Design:
        <a rel="nofollow" href="https://iplex.com">Zain Ul Ebad</a>
      </p>
    </div>
  </div>
</div>
