<main class="container">
  <div class="left-column">
    <img
      data-image="red"
      class="active"
      src="{{ gorceryItem?.image }}"
      alt="{{ gorceryItem?.title }}"
    />
  </div>

  <div class="right-column">
    <div class="product-description">
      <span>{{ gorceryItem?.category }}</span>
      <h1>{{ gorceryItem?.title }}</h1>
      <p>
        {{ gorceryItem?.description | lowercase }}
      </p>
    </div>

    <!-- <div class="product-configuration">
      <div class="product-color">
        <span>Color</span>

        <div class="color-choose">
          <div>
            <input
              data-image="red"
              type="radio"
              id="red"
              name="color"
              value="red"
              checked
            />
            <label for="red"><span></span></label>
          </div>
          <div>
            <input
              data-image="blue"
              type="radio"
              id="blue"
              name="color"
              value="blue"
            />
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input
              data-image="black"
              type="radio"
              id="black"
              name="color"
              value="black"
            />
            <label for="black"><span></span></label>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{ gorceryItem?.price }}$</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
</main>
