.item-content {
  padding-top: 40px;
  padding-bottom: 0px;
  color: #000;
}
#edd_checkout_cart a.edd-cart-saving-button,
th {
  text-decoration: none;
  padding: 4px 10px;
  text-transform: none;
  font-size: 14px;
  border: 1.2px solid rgb(110, 92, 92);
  font-weight: 500;
}

#edd_checkout_cart {
  padding-left: 10px;
}

#edd_checkout_cart {
  text-align: left;
  width: 100%;
  border: none;
  margin: 0 0 21px;
  table-layout: auto;
}
#edd_checkout_cart .edd_cart_header_row th {
  background: #fafafa;
  padding: 2em;
}
#edd_checkout_cart td,
#edd_checkout_cart th {
  text-align: left;
  border: 1px solid #eee;

  padding: 0.5em 1.387em;
}

.edd-save-cart-button {
  background-color: rgb(32, 30, 30);
  color: white;
  padding: 2px 20px;
}

.form-group {
  margin: 50px auto;
  width: 96%;
}

.form-control {
  float: left;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.invalid-container {
  padding: 20px 0px 0px 0px;
  font-size: 15px;
  color: red;
}

.form-field-parallel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

mat-form-field.emailfiled {
  width: 100%;
}

.address-heading-container {
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
}

.address-heading-left {
  max-width: 40%;
  background-color: rgb(212, 212, 212);
  padding: 1px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    margin: 0px;
    font-weight: 600;
  }
}

.address-heading-right {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  gap: 30px;
}

.btn-container {
  margin: 70px auto;
}

@media (min-width: 992px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}
