<section class="item-content">
  <div class="container">
    <table id="edd_checkout_cart">
      <thead>
        <tr class="edd_cart_header_row">
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Item Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of cartList">
          <tr>
            <td>
              <div>
                <img
                  width="25"
                  height="25"
                  src="{{ item.item.image }}"
                  alt="{{ item.item.title }}"
                />
              </div>
              <span>
                {{ item.item.title }}
              </span>
            </td>
            <td>${{ item.item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <a click="removeHandler(item.item)">Remove</a>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">
            <button mat-button class="edd-save-cart-button">Save Cart</button>
          </th>
        </tr>
        <tr style="display: none">
          <th colspan="5"></th>
        </tr>
        <tr>
          <th colspan="5">
            Total:
            <span data-subtotal="11.99" data-total="11.99"
              >${{ cartTotal }}</span
            >
          </th>
        </tr>
      </tfoot>
    </table>

    <div class="form-group">
      <!-- form header -->
      <h1>Address Form</h1>
      <!-- main form -->

      <form [formGroup]="userCheckoutForm">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Basic Information </mat-panel-title>
              <mat-panel-description>
                Fill your Name and Email details
                <mat-icon>contact_phone</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="form-field-parallel">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  name="firstName"
                  formControlName="firstName"
                  placeholder="Enter First Name"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': firstName.invalid && firstName.touched,
                    'is-valid': firstName.valid
                  }"
                />
                <div class="invalid-container">
                  <small
                    *ngIf="firstName.errors?.['required'] && firstName.touched"
                    >Field is required</small
                  >
                  <small
                    *ngIf="firstName.errors?.['minlength'] && firstName.touched"
                    >Atleast "2" Characters Required</small
                  >
                </div>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  name="lastName"
                  formControlName="lastName"
                  placeholder="Enter Last Name"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': lastName.invalid && lastName.touched,
                    'is-valid': lastName.valid
                  }"
                />
                <div class="invalid-container">
                  <small
                    *ngIf="lastName.errors?.['required'] && lastName.touched"
                    >Field is required</small
                  >
                  <small
                    *ngIf="lastName.errors?.['minlength'] && lastName.touched"
                    >Atleast "2" Characters Required</small
                  >
                </div>
              </mat-form-field>
            </div>
            <mat-form-field class="emailfiled" appearance="fill">
              <input
                matInput
                name="email"
                formControlName="email"
                placeholder="Enter Your Email"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid
                }"
              />
              <div class="invalid-container">
                <small *ngIf="email.errors?.['required'] && email.touched"
                  >Field is required</small
                >
                <small *ngIf="email.errors?.['email'] && email.touched"
                  >Invalid Email Format</small
                >
              </div>
            </mat-form-field>
          </mat-expansion-panel>
          <mat-divider></mat-divider>

          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Address Section </mat-panel-title>
              <mat-panel-description>
                Add Street, City and Other Detials of Your Address
                <mat-icon>contact_mail</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div formArrayName="address">
              <div
                *ngFor="let group of addressArray.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="address-heading-container">
                  <div class="address-heading-left">
                    <h4>Address {{ i + 1 }}</h4>
                  </div>

                  <div class="address-heading-right">
                    <div class="example-button-container">
                      <button mat-fab color="primary" (click)="addAddress()">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                    <div class="example-button-container">
                      <button mat-fab color="warn" (click)="removeAddress(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>

                <div>
                  <mat-checkbox
                    class="example-margin"
                    formControlName="primaryFlg"
                    type="checkbox"
                    id="defaultCheck1"
                  >
                    Primary Address</mat-checkbox
                  >
                </div>
                <mat-form-field class="emailfiled" appearance="fill">
                  <input
                    matInput
                    formControlName="streetAddress"
                    placeholder="Enter street address"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        group.get('streetAddress').invalid &&
                        group.get('streetAddress').touched,
                      'is-valid': group.get('streetAddress').valid
                    }"
                  />
                  <div class="invalid-container">
                    <small
                      *ngIf="
                        group.get('streetAddress').invalid &&
                        group.get('streetAddress').touched
                      "
                      >Field is required</small
                    >
                  </div>
                </mat-form-field>

                <mat-form-field class="emailfiled" appearance="fill">
                  <input
                    matInput
                    formControlName="city"
                    placeholder="Enter city"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        group.get('city').invalid && group.get('city').touched,
                      'is-valid': group.get('city').valid
                    }"
                  />
                  <div class="invalid-container">
                    <small
                      *ngIf="
                        group.get('city').invalid && group.get('city').touched
                      "
                      >Field is required</small
                    >
                  </div>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>State</mat-label>
                  <mat-select
                    id="inputState"
                    formControlName="state"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        group.get('state').invalid &&
                        group.get('state').touched,
                      'is-valid': group.get('state').valid
                    }"
                  >
                    <mat-option
                      *ngFor="let item of states"
                      [value]="item"
                      placeholder="state"
                    >
                      {{ item }}
                    </mat-option>
                  </mat-select>
                  <div class="invalid-container">
                    <small
                      *ngIf="
                        group.get('state').invalid && group.get('state').touched
                      "
                      >Field is required</small
                    >
                  </div>
                </mat-form-field>

                <mat-form-field class="emailfiled" appearance="fill">
                  <input
                    matInput
                    type="number"
                    formControlName="zipcode"
                    id="zipcode"
                    placeholder="Enter city"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid':
                        group.get('zipcode').invalid &&
                        group.get('zipcode').touched,
                      'is-valid': group.get('zipcode').valid
                    }"
                  />
                  <div class="invalid-container">
                    <small
                      *ngIf="
                                  group.get('zipcode').errors?.['required'] &&
                                  group.get('zipcode').touched
                                "
                      >Field is required</small
                    >
                    <small
                      *ngIf="
                                  group.get('zipcode').errors?.['pattern'] &&
                                  group.get('zipcode').touched
                                "
                      >Value should be 5 digit number.</small
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-divider></mat-divider>

        <div class="btn-container">
          <button
            mat-stroked-button
            class="submit-btn"
            [disabled]="userCheckoutForm.invalid"
            (click)="submitHandler()"
            style="
              width: 20%;
              background-color: #ff0081;
              color: white;
              font-size: 16px;
              letter-spacing: 2px;
              box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
              cursor: pointer;
            "
          >
            Order
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
