.item-content {
  padding-top: 40px;
  padding-bottom: 0px;
  color: #000;
}

table {
  width: 100%;
}

.table-section {
  max-width: 80%;
  margin: 20px auto;
}

.table-section th {
  background-color: #eee;
  color: black;
  font-size: 15px;
  font-style: oblique;
  text-align: center;
  font-weight: 400;
}

.table-section td {
  font-size: 13.5px;
  text-align: center;
  font-weight: 400;
  padding: 2px 10px;
}

.table-section img {
  max-width: 60px;
  margin: 10px;
}

.table-section .quanitityContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 6px;
}

.icon-container button {
  max-width: 26px;
  max-height: 26px;
}

.icon-container mat-icon {
  max-width: 15px;
  display: contents;
}

.quantity {
  font-weight: 200;
  font-size: 16px;
  align-self: center;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px;
  strong {
    background-color: #ff0081;
    color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 2px;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    padding: 10px 20px;
    border-radius: 3.8px;
  }
}

.form-group {
  margin: 50px auto;
  width: 96%;
}

.form-control {
  float: left;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.invalid-container {
  font-size: 15px;
  color: red;
}

.form-field-container {
  color: blue;

  ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      bottom: 0.344em;
    }
  }
}

.form-field-parallel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

mat-form-field.emailfiled {
  width: 55.5%;
  padding: 0px 20px 0px 0px;
}

.emailFormContainer {
  .mat-fab {
    width: 35px;
    height: 35px;
    padding: 0px;
  }
  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 0px;
  }

  .mat-icon {
    height: 26px;
  }
}

.address-heading-container {
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
}

.address-heading-left {
  max-width: 40%;
  background-color: rgb(212, 212, 212);
  padding: 1px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    margin: 0px;
    font-weight: 600;
  }
}

.address-heading-right {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  gap: 30px;
}

.btn-container {
  margin: 70px auto;
}

@media (min-width: 992px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}
