<div class="contactContainer">
  <section class="itemContent">
    <div class="container toparea">
      <div class="underlined-title">
        <div class="editContent">
          <h1 class="text-center latestitems">Get in Touch</h1>
        </div>
      </div>

      <form
        #contactForm="ngForm"
        (ngSubmit)="onSubmit(contactForm.value)"
        class="contact-form"
      >
        <div ngModelGroup="fullName" class="contact-form-names">
          <mat-form-field class="contact-name" appearance="outline">
            <mat-label>First name</mat-label>
            <input
              matInput
              name="firstName"
              forbiddenName="bob"
              [(ngModel)]="contactModel.firstName"
              #firstName="ngModel"
              minlength="1"
              required
            />
            <div
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
              class="alert"
            >
              <div *ngIf="firstName.errors?.['required']">
                First Name is required.
              </div>
              <div *ngIf="firstName.errors?.['minlength']">
                First Name must be at least a character long.
              </div>
              <div *ngIf="firstName.errors?.['forbiddenName']">
                First Name cannot be {{ firstName }}
              </div>
            </div>
          </mat-form-field>
          <mat-form-field class="contact-name" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              name="lastName"
              appForbiddenName="ebad"
              [(ngModel)]="contactModel.lastName"
              #lastName="ngModel"
              minlength="1"
              required
            />
            <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="alert"
            >
              <div *ngIf="lastName.errors?.['required']">
                Last Name is required.
              </div>
              <div *ngIf="lastName.errors?.['minlength']">
                Last Name must be at least a character long.
              </div>
              <div *ngIf="lastName.errors?.['forbiddenlastName']">
                Last Name cannot be {{ lastName }}
              </div>
            </div>
          </mat-form-field>
        </div>
        <mat-form-field class="contact-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ex. hamza@buraq.com"
            name="email"
            [(ngModel)]="contactModel.email"
            #email="ngModel"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['pattern']">Email not Correct</div>
          </div>
        </mat-form-field>
        <mat-form-field class="contact-full-width" appearance="outline">
          <mat-label>Message</mat-label>
          <input
            name="message"
            ngModel
            required
            minlength="4"
            matInput
            #message
            maxlength="256"
            placeholder="Ex. I need help with..."
          />
          <mat-hint align="start"
            ><strong>Don't disclose personal info</strong>
          </mat-hint>
          <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
        </mat-form-field>

        <div class="btn">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!contactForm.form.valid"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </section>
  <div class="right-side-contact">
    <h4>Find Us: (888) 252 389 3571</h4>
    <p>
      If you want to hire me or have any feedback or questions about our service
      in general, please send us a message by completing our enquiry form. It’s
      best to call though, someone we’ll always be there for you.
    </p>
    <p>
      <strong>Monday – Friday: 9am to 5pm</strong> <br />
      <strong>Saturday: 10am to 2pm</strong> <br />
      <strong> Sunday: Closed</strong>
    </p>
  </div>
</div>
