<div class="contactContainer">
  <section class="itemContent">
    <div class="container toparea">
      <div class="underlined-title">
        <div class="editContent">
          <h1 class="text-center latestitems">Get in Touch</h1>
        </div>
      </div>

      <form method="post" id="contactform">
        <div class="form">
          <input type="text" name="name" placeholder="Your Name *" />
          <input type="text" name="email" placeholder="Your E-mail Address *" />
          <textarea
            name="comment"
            rows="7"
            placeholder="Type your Message *"
          ></textarea>
          <input type="submit" id="submit" class="clearfix btn" value="Send" />
        </div>
      </form>
    </div>
  </section>
  <div class="right-side-contact">
    <h4>Find Us: (888) 252 389 3571</h4>
    <p>
      If you want to hire me or have any feedback or questions about our service
      in general, please send us a message by completing our enquiry form. It’s
      best to call though, someone we’ll always be there for you.
    </p>
    <p>
      <strong>Monday – Friday: 9am to 5pm</strong> <br />
      <strong>Saturday: 10am to 2pm</strong> <br />
      <strong> Sunday: Closed</strong>
    </p>
  </div>
</div>
